//layout
$media-breakpoint-mobile-max: 420px;
$media-breakpoint-tablet-min: 421px;
$media-breakpoint-tablet-max: 1199px;
$media-breakpoint-laptop-min: 1200px;
$media-breakpoint-laptop-max: 1600px;
$media-breakpoint-large-min: 1601px;


// colors
$primary-color:#FFC312;
$secondary-color:#fff;