@import 'base';

.login{
    margin-left: auto;
    margin-right: auto;
   width: 100%;
   max-width: 520px;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
}

.loginField {
    margin-top: 0.5rem;
}
.passwordField {
    margin-top: 2rem !important;
}

